.advantages-section{
    background-color: #f9f9f9;
}
.advantages-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-advantage{
    max-width: calc(33.3333% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantage-img{
    width: 66px;
    margin-right: 20px;
}
.advantage-img svg{
    max-width: 100%;
    max-height: 100%;
}
.single-advantage p{
    max-width: 305px;
    width: 100%;
    color: #dd0101;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625em;
}
@media(max-width: 1024px){
    .single-advantage{
        flex-direction: column;
        justify-content: flex-start;
    }
    .advantage-img{
        height: 52px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .single-advantage p{
        text-align: center;
        font-size: 14px;
    }
}
@media(max-width: 476px){
    .single-advantage{
        max-width: 100%;
        width: 100%;
    }
    .single-advantage:not(:last-child){
        margin-bottom: 30px;
    }
}
