.bottom-form-section{
    background-color: #dd0101;
    margin-top: 55px;
}
.bottom-form-content{
    padding: 60px 0;
}
.bottom-form-wrapper{
    width: calc(100% - 665px);
}
.bottom-form-wrapper h2{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.38em;
    margin-bottom: 10px;
}
.bottom-form-wrapper >p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.437em;
    margin-bottom: 25px;
}
.bottom-form ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.bottom-form .input-50p{
    width: calc(50% - 15px);
}
.bottom-form li{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
.bottom-form li .form-error-text{
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    font-size: 14px;
    line-height: 1.428em;
}
.bottom-form li span{
    font-size: 14px;
    line-height: 1.428em;
    display: block;
    margin-bottom: 9px;
}
.bottom-form input,
.bottom-form textarea,
.bottom-form select{
    font-family: "Open Sans", sans-serif;
    background: #fff;
    padding: 14px 20px 13px;
    border:none;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    display: block;
    width: 100%;
}
.bottom-form input.error-value,
.bottom-form textarea.error-value,
.bottom-form select.error-value{
    border: 1px solid #dd0101;
}
.bottom-form textarea{
    height: 148px;
    resize: none;
}
.bottom-form input::placeholder,
.bottom-form textarea::placeholder{
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.bottom-form .bottom-submit-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.bottom-form input[type="submit"]{
    display: inline-block;
    width: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.437em;
    padding: 7px 31px 6px 32px;
    border: 2px solid #fff;
    background: transparent;
}
.bottom-form .bottom-submit-wrapper p{
    color: #ffffff;
    font-size: 14px;
    line-height: 1.428em;
    padding-left: 40px;
}
.bottom-form-image{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 560px;
    height: 663px;
}
.bottom-form-image img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}
@media(max-width: 1600px){
    .bottom-form-content{
        padding: 50px 0px;
    }
    .bottom-form-wrapper {
        width: calc(100% - 560px);
    }
    .bottom-form-image{
        width: 520px;
    }
}
@media(max-width: 1200px){
    .bottom-form-content{
        padding: 40px 0;
    }
    .bottom-form-wrapper h2{
        font-size: 38px;
    }
    .bottom-form-wrapper {
        width: calc(100% - 480px);
    }
    .bottom-form-image {
        width: 460px;
    }
    .bottom-form li{
        margin-bottom: 25px;
    }
}
@media(max-width: 1024px){
    .bottom-form-wrapper h2{
        font-size: 30px;
    }
    .bottom-form-wrapper {
        width: 100%;
    }
    .bottom-form-image {
        display: none;
    }
}
@media(max-width: 767px){
    .bottom-form-wrapper h2 {
        font-size: 28px;
    }
    .bottom-form .input-50p {
        width: calc(50% - 7px);
    }
    .bottom-form input,
    .bottom-form textarea,
    .bottom-form select{
        padding: 10px 14px 9px;
        font-size: 14px;
    }
    .bottom-form input::placeholder,
    .bottom-form textarea::placeholder{
        font-size: 14px;
    }
}
@media(max-width: 476px){
    .bottom-form-wrapper h2{
        font-size: 26px;
    }
    .bottom-form .input-50p{
        width: 100%;
    }
    .bottom-form .bottom-submit-wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .bottom-form .bottom-submit-wrapper p{
        padding-left: 0;
        margin-bottom: 15px;
    }
}

