.footer{
    background-color: #212429;
    padding: 60px 0px 30px;
}
.footer-top-line-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-menu li:not(:last-child){
    margin-bottom: 16px;
}
.footer a{
    padding-right: 10px;
}
.footer-menu a,
.footer-contacts a,
.footer-contacts span{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
}
.footer-contacts li:not(:last-child){
    margin-bottom: 20px;
}
.footer-bottom-line-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.copyright{
    color: #ffffff;
    font-size: 14px;
    line-height: 1.428em;
}
p.pay-list{
    max-width: 200px;
    width: 100%;
}
p.pay-list img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
}
@media(max-width: 1024px){
    .footer-menu{
        padding: 0px 15px;
    }
    .footer-menu a, .footer-contacts a, .footer-contacts span{
        font-size: 14px;
    }
}
@media(max-width: 767px){
    .footer-top-line-wrapper{
        flex-wrap: wrap;
    }
    .footer-top-line-wrapper > *{
        margin-bottom: 30px;
    }
    .footer .logo-wrapper{
        order: 1;
    }
    .footer-contacts{
        order: 2;
        width: 50%;
    }
    .footer-menu{
        padding: 0;
        order: 3;
        width: 50%;
    }
}
@media(max-width: 476px){
    .footer-bottom-line-wrapper{
        flex-direction: column-reverse;
    }
    p.copyright{
        text-align: center;
    }
    p.pay-list{
        margin-bottom: 20px;
    }
}
