.header{
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}
.header-top-line{
    background: #212429;
}
.header-top-line-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0px 9px;
}
.contacts-list{
    display: flex;
    align-items: center;
}
.contacts-list li:not(:last-child){
    margin-right: 30px;
}
.contacts-list li span,
.contacts-list li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.428em;
    text-decoration: none;
    color: #fff;
}
.contacts-list li svg,
.contacts-list li svg{
    margin-right: 10px;
    display: inline-block;
}
.login-register-wrapper{
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.login-register-wrapper .register-login_image{
    width: 20px;
    height: 20px;
}
.login-register-wrapper li.delimeter{
    height: 20px;
    width: 2px;
    background: #dd0101;
    border-radius: 1px;
}
.login-register-wrapper li:not(:last-child){
    margin-right: 10px;
}
.login-register-wrapper li a{
    color: #fff;
    text-decoration: none;
}
.header-center-line-wrapper{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo-wrapper{
    max-width: 170px;
    width: 100%;
}
a.logo{
    display: block;
    width: 100%;
}
a.logo svg{
    display: block;
    width: 100%;
    height: auto;
}
.header-center-line-wrapper > *:not(:first-child){
    margin-top: 10px;
}
.header-center-line-actions-wrapper>*:not(:first-child){
    margin-left: 60px;
}
.search-form{
    position: relative;
    height: 40px;
    max-width: 620px;
    width: 100%;
}
.search-form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    color: #6c757d;
    font-size: 14px;
    line-height: 1.42em;
    padding: 10px 64px 10px 20px;
    border-radius: 0;
}
.search-form input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}
.search-form button[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    background-color: #dd0101;
    border: none;
    z-index: 1;
}
.search-popup{
    display: none;
    position: relative;
    overflow: hidden;
    width: 44px;
    height: 40px;
    background: #dd0101;
    align-items: center;
    justify-content: center;
}
.search-popup .close-search-popup{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #dd0101;
    transition: 0.3s ease;
}
.close-search-popup:before,
.close-search-popup:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background: #fff;
}
.close-search-popup:before{
    transform: translate(-50%, -50%) rotate(45deg);
}
.close-search-popup:after{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.cart-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.cart-wrapper .cart-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cart-img-wrapper{
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 12px;
}
.cart-img-wrapper svg{
    width: 100%;
    height: 100%;
    display: block;
}
.cart-counter{
    position: absolute;
    top: 0;
    left: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #dd0101;
}
.cart-counter span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 600;
}
.cart-total-price{
    font-size: 14px;
    font-weight: 600;
    color: #212429;
}
.callback-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.callback-wrapper a{
    display: block;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    color: #212429;
    text-decoration: none;
    margin-bottom: -3px;
}
.callback-wrapper a.popup,
.callback-wrapper .header-email{
    font-size: 14px;
    color: #dd0101;
    line-height: 1.428em;
}
.callback-wrapper .header-email{
    display: none;
}
.header-bottom-line{
    background-color: #dd0101;
    padding: 14px 0px 13px;
}
.header-center-line-wrapper .desktop-hid{
    display: none;
}
.header-bottom-line-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-link{
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 1.437em;
    padding-left: 38px;
    padding-right: 28px;
}
.catalog-link .decor-span{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
}
.catalog-link .decor-span span{
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
}
.catalog-link .decor-span span:not(:last-child){
    margin-bottom: 3px;
}
.catalog-link .decor-arrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.menu-switcher{
    display: none;
}
.main-menu{
    display: flex;
    flex-wrap: wrap;
}
.main-menu li:not(:last-child){
    margin-right: 60px;
}
.main-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
}
@media(max-width: 1600px){
    .header-center-line-actions-wrapper{
        width: calc(100% - 200px);
    }
    .search-form{
        max-width: 400px;
    }
    .header-center-line-actions-wrapper>*:not(:first-child){
        margin-left: 30px;
    }
}
@media(max-width: 1200px){
    .header-center-line-wrapper{
        flex-wrap: wrap;
    }
    .search-form{
        max-width: calc(100% - 240px);
        margin-bottom: 30px;
    }
    .header-center-line-actions-wrapper>*:not(:first-child){
        margin-left: 20px;
    }
    .header-center-line-actions-wrapper .cart-wrapper{
        margin-left: 0;
    }
    .cart-wrapper{
        order: 1;
    }
}
@media(max-width: 1024px){
    .main-menu li:not(:last-child){
        margin-right: 20px;
    }
}
@media(max-width: 767px){
    .header{
        margin-bottom: 15px;
    }
    .contacts-list li:first-child{
        display: none;
    }
    .logo-wrapper{
        max-width: 140px;
    }
    .header-center-line-wrapper > *:not(:last-child){
        margin-right: 20px;
    }
    .header-center-line-actions-wrapper>*:not(:first-child){
        margin-left: 0;
    }
    .header-center-line-actions-wrapper>*{
        margin-bottom: 20px;
    }
    .header-center-line-wrapper{
        padding: 20px 0;
    }
    .catalog-link{
        padding-right: 0;
        padding-left: 0px;
    }
    .catalog-link .decor-span,
    .catalog-link .decor-arrow{
        display: none;
    }
    .menu-switcher{
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.437em;
        cursor: pointer;
    }
    .main-menu{
        background: #dd0101;
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        flex-direction: column;
        padding: 20px 15px;
        transition: 0.3s ease-in-out;
    }
    .main-menu.show{
        left: 0;
    }
    .main-menu li:not(:last-child){
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media(max-width: 579px){
    .header-center-line-wrapper{
        align-items: stretch;
    }
    .logo-wrapper{
        order: 1;
    }
    .callback-wrapper{
        order: 2;
    }

    .search-popup{
        display: flex;
        order: 3;
    }
    .header-center-line-wrapper .btn {
        order: 4;
        padding: 9px 12px 8px;
        font-size: 15px;
        width: calc(35% - 6px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-center-line-wrapper .btn.desktop-hid{
        order: 5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-popup.active .close-search-popup{
        top: 0;
    }
    .cart-wrapper{
        order: 6;
    }
    .search-form{
        max-width: calc(100% - 30px);
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 0;
        position: absolute;
        bottom: -45px;
        z-index: 1;
        transition: 0.3s ease;
        pointer-events: none;
        opacity: 0;
    }
    .search-form.active{
        pointer-events: auto;
        opacity: 1;
    }
    .callback-wrapper .header-email{
        display: block;
        font-size: 13px;
        color: #212429;
    }
    .callback-wrapper a.popup{
        display: none;
    }
}
@media(max-width: 476px){
    .header-center-line-wrapper{
        align-items: center;
    }
    .header-center-line-wrapper > *:not(:last-child){
        margin-right: 5px;
    }
    .header-center-line-wrapper .btn{
        padding: 9px 12px 8px;
        font-size: 15px;
        width: calc(32% - 5px);
    }
    .callback-wrapper a{
        margin-bottom: 0;
        font-size: 15px;
    }
    .logo-wrapper{
        margin-bottom: 0px;
        width: 30%;
    }
    .contacts-list li span, .contacts-list li a{
        font-size: 0;
    }
    .cart-img-wrapper{
        margin-right: 8px;
    }
    .cart-total-price {
        font-size: 13px;
    }
}
