.last-news-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-news-wrapper{
    width: calc(25% - 22.5px);
}
.last-news-image{
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 65%;
    margin-bottom: 20px;
}
.last-news-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}
.last-news-image:hover img{
    transform: translate(-50%, -50%) scale(1.1);
}
.last-news-date{
    display: block;
    margin-bottom: 9px;
    color: #6c757d;
    font-size: 14px;
    line-height: 1.428em;
}
.last-news-title{
    color: #212429;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625em;
    display: block;
    margin-bottom: 20px;
}
.last-news-link{
    position: relative;
    color: #dd0101;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.428em;
    padding-right: 28px;
}
.last-news-link svg{
    position: absolute;
    top: 55%;
    right: 0;
    transform: translate(0, -50%);
}
@media(max-width: 1024px){
    .single-news-wrapper {
        width: calc(25% - 10px);
    }
    .last-news-title{
        font-size: 14px;
    }
}
@media(max-width: 767px){
    .single-news-wrapper{
        width: calc(50% - 10px);
        margin-bottom: 30px;
    }
}
