@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import 'slick-slider.css';
@import 'jquery.fancybox.min.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'popup.css';
@import 'page-top-section.css';
@import 'products-slider-section.css';
@import 'products-category-section.css';
@import 'last-news-section.css';
@import 'bottom-form-section.css';
@import 'advantages-section.css';
@import 'user-all-page.css';
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    color: #fff;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
}
.container{
    max-width: 1560px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.btn{
    padding: 9px 30px 8px;
    background-color: #dd0101;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    line-height: 1.437em;
}
.btn.dark-btn{
    background-color: #6c757d;
}
.btn.btn-light{
    background-color: #fff;
    color: #6c757d;
    border: 1px solid #6c757d;
    padding: 8px 28px 7px;
}
section{
    position: relative;
}
.section{
    padding: 60px 0;
}
.dark-section{
    background-color: #f9f9f9;
}
.section-h_title{
    font-size: 30px;
    line-height: 1.4em;
    font-weight: 700;
    color: #212429;
    position: relative;
    padding-bottom: 10px;
    padding-right: 50px;
    margin-bottom: 30px;
}
.section-h_title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #e5e5e5;
}
.section-h_title.user-page-title:before{
    display: none;
}
.section-h_title.user-log-title{
    padding-right: 0;
    text-align: center;
}
a:hover{
    opacity: 0.85;
}

/*--------------INFO SECTION--------------*/

.info-text{
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}
.info-text p{
    color: #212429;
    font-size: 16px;
    line-height: 2.25em;
    margin-bottom: 50px;
}
.info-text .info-text-img-wrapper{
    margin-bottom: 60px;
}
.info-text .info-text-img-wrapper img{
    display: block;
    width: 100%;
}
/*--------------INFO SECTION--------------*/

/*---------BREADCRUMBS---------*/

.breadcrumbs-wrapper{
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-bottom: 60px;
}
.breadcrumbs-wrapper ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.breadcrumbs-wrapper li:not(:last-child){
    margin-right: 10px;
}
.breadcrumbs-wrapper li a{
    color: #6c757d;
    font-size: 14px;
    line-height: 1.428em;
    position: relative;
}
.breadcrumbs-wrapper li:not(:last-child) a:after{
    content: '/';
    padding-left: 10px;
}
.breadcrumbs-wrapper li:last-child a{
    pointer-events: none;
    color: #dd0101;
}

/*---------BREADCRUMBS---------*/

/*---------404 PAGE---------*/

.error-page-content{
    max-width: 773px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-image-wrapper{
    width: 100%;
    margin-bottom: 40px;
}
.error-image-wrapper img{
    display: block;
    width: 100%;
}
.error-page-content .btn{
    max-width: 320px;
    width: 100%;
}

/*---------404 PAGE---------*/

@media (max-width: 1600px){
    .container{
        max-width: 1200px;
     }
    .breadcrumbs-wrapper{
        margin-bottom: 50px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
    .section{
        padding: 50px 0;
    }
    .breadcrumbs-wrapper{
        margin-bottom: 40px;
    }
    .info-text p{
        margin-bottom: 30px;
    }
    .info-text .info-text-img-wrapper{
        margin-bottom: 40px;
    }
}
@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .section{
        padding: 40px 0;
    }
    .breadcrumbs-wrapper{
        margin-bottom: 30px;
    }
    .error-page-content{
        max-width: 600px;
        padding: 40px 0px 80px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 100%;
    }
    .section-h_title{
        font-size: 28px;
    }
    .section{
        padding: 30px 0;
    }
    .breadcrumbs-wrapper{
        margin-bottom: 20px;
    }
    .error-page-content{
        max-width: 500px;
        padding: 20px 0px 60px;
    }
}
@media(max-width: 579px){
    .info-text p{
        line-height: 1.428em;
        margin-bottom: 20px;
    }
    .error-page-content{
        max-width: 500px;
        padding: 20px 0px 40px;
    }
}
@media(max-width: 476px){
    .section-h_title{
        padding-right: 0;
        font-size: 26px;
        margin-bottom: 20px;
    }
}



