.sidebar-content-wrapper{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.sidebar > div:not(.sidebar-mobile-switcher){
    margin-bottom: 60px;
}
.sidebar-mobile-switcher{
    background-color: #dd0101;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 1.437em;
    padding: 14px 0px;
    cursor: pointer;
    margin-bottom: 15px;
    display: none;
}
.sidebar-mobile-switcher .decor-span{
    width: 18px;
}
.sidebar-mobile-switcher .decor-span span{
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
}
.sidebar-mobile-switcher .decor-span span:not(:last-child){
    margin-bottom: 3px;
}
.sidebar-mobile-switcher:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%, 0);
    width: 100vw;
    background-color: #dd0101;
    z-index: -1;
}
.sidebar-menu-wrapper{
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dd0101;
    background-color: #ffffff;
}
.sidebar-menu-list{
    position: relative;
    width: 100%;
}
.sidebar-menu-item:not(:last-child){
    border-bottom: 1px solid #e5e5e5;
}
.sidebar-menu-item a{
    color: #6c757d;
    font-size: 16px;
    line-height: 1.312em;
    text-decoration: none;
}
.sidebar-menu-item > a{
    padding: 16px 44px 16px;
    position: relative;
    display: block;
}
.sidebar-menu-item > a .menu-item-arrow{
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    height: 100%;
    width: 50px;
    transform: translate(0, -50%);
    z-index: 1;
}
.sidebar-menu-item > a .menu-item-arrow:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 19px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #6c757d;
    border-right: 2px solid #6c757d;
    transform: translate(0,-50%) rotate(45deg);
    transition: 0.3s ease;
}
.sidebar-menu-item > a:hover{
    background: #F9F9F9;
}
.sidebar-submenu-list-wrapper{
    position: absolute;
    left: calc(100% + 100px);
    width: 1170px;
    min-height: 100%;
    top: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #f9f9f9;
    transition: 0.25s ease;
}
.sidebar-menu-item-has-sub-menu:hover .sidebar-submenu-list-wrapper{
    left: 100%;
    opacity: 1;
    pointer-events: auto;
}
.sidebar-submenu-list-wrapper{
    padding: 22px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-sidebar-submenu-list{
    width: calc(50% - 15px);
    margin-bottom: 29px;
}
.single-sidebar-submenu-list-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.428em;
    color: #6c757d;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.single-sidebar-submenu-list-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 170px;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}
.sidebar-submenu-item:not(:last-child){
    margin-bottom: 9px;
}
.sidebar-filter-title{
    color: #212429;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.416em;
    margin-bottom: 20px;
}
.single-sidebar-filter{
    margin-bottom: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e5e5e5;
}
.single-sidebar-filter > span{
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    display: block;
    margin-bottom: 20px;
}
.price-slider{
    margin-bottom: 20px;
}
.ui-slider{
    position: relative;
    background-color: #e5e5e5;
    height: 4px;
    margin-right: 30px;
}
.ui-slider:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 100%;
    background: inherit;
}
.ui-slider-range{
    background-color: #dd0101;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.ui-slider-handle{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #dd0101;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.ui-slider-handle:before{
    content: '';
    position: absolute;
    width: 66.666%;
    height: 66.6666%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: #dd0101;
    transition: 0.3s ease;
}
.ui-state-hover.ui-slider-handle:before,
.ui-state-active.ui-slider-handle:before{
    width: 50%;
    height: 50%;
}
.price-values-wrapper{
    color: #6c757d;
    font-size: 14px;
    line-height: 1.428em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkboxes-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkboxes-list li{
    position: relative;
    padding-left: 36px;
}
.checkboxes-list li:not(:last-child){
    margin-bottom: 16px;
}
.checkboxes-list li input[type="checkbox"],
.checkboxes-list li input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.checkboxes-list li .decor-checkbox{
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #6c757d;
    transition: 0.3s ease;
}
.checkboxes-list li .decor-checkbox:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    transform: translate(-50%, -50%);
    background-color: #dd0101;
    opacity: 0;
    transition: inherit;
}
.checkboxes-list li input[type="checkbox"]:checked + .decor-checkbox,
.checkboxes-list li input[type="radio"]:checked + .decor-checkbox{
    border-color: #dd0101;
}
.checkboxes-list li input[type="checkbox"]:checked + .decor-checkbox:before,
.checkboxes-list li input[type="radio"]:checked + .decor-checkbox:before{
    opacity: 1;
}
.checkboxes-list li span {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.checkbox-list-switcher{
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    background-color: #e5e5e5;
    height: 40px;
    cursor: pointer;
    position: relative;
}
.checkbox-list-switcher svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.checkbox-list-switcher.active svg{
    transform: translate(-50%, -50%) rotate(-180deg);
}
.sidebar-form-wrapper{
    background-color: #dd0101;
    padding: 40px 20px;
}
.sidebar-form-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 29px;
}
.sidebar-form-wrapper .bottom-form li{
    margin-bottom: 30px;
}
.sidebar-form-wrapper .bottom-form li:last-child{
    margin-bottom: 0;
    margin-top: 10px;
}
.sidebar-form-wrapper .bottom-form li:last-child input{
    width: 100%;
}
/*-------SIDEBAR CONTENT WRAPPER-------*/

.content-wrapper{
    width: calc(100% - 390px);
}
.homepage-top-slider{
    position: relative;
}
.homepage-top-slider .slick-dots{
    position: absolute;
    bottom: 28px;
    right: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.homepage-top-slider .slick-dots li:not(:last-child){
    margin-right: 5px;
}
.homepage-top-slider .slick-dots button{
    display: block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    border: none;
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
}
.homepage-top-slider .slick-dots li.slick-active button{
    background: #dd0101;
}
.home-top-slide-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.home-top-slide-wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212429;
    opacity: 0.37;
    z-index: 1;
}
.home-top-slide-content{
    position: relative;
    max-width: 716px;
    width: 100%;
    padding: 31px 61px;
    min-height: 446px;
    z-index: 1;
    overflow: hidden;
}
.home-top-slide-title:before{
    content: '';
    position: absolute;
    top: 0;
    right: 22%;
    width: 100%;
    height: 100%;
    background-color: #dd0101;
    opacity: 0.53;
    transform: skew(-35deg);
    z-index: -1;
}
.home-top-slide-title{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    max-width: 430px;
    width: 100%;
    margin-bottom: 30px;
}
.home-top-slide-title span{
    display: block;
    font-size: 66px;
    line-height: 1.125em;
}
.home-top-slide-link{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.642em;
}

/*-----------CATALOG PAGE-----------*/

.catalog-page-single-category-wrapper{
    margin-bottom: 32px;
}
.catalog-page-single-category-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}
.catalog-page-single-category-list .single-product-wrapper{
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}
.catalog-page-bottom-info .info-text{
    margin: 0;
}
.catalog-page-bottom-info{
    margin-bottom: 60px;
}
.catalog-page-pagination-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.pagination-wrapper ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.pagination-wrapper ul li{
    margin-bottom: 20px;
}
.pagination-wrapper ul li:not(:first-child){
    margin-left: 16px;
}
.pagination-wrapper ul a{
    color: #6c757d;
    font-size: 16px;
    line-height: 1.43em;
    padding: 9px 4px 8px;
    display: inline-block;
    min-width: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.pagination-wrapper ul li.disabled-page{
    pointer-events: none;
}
.pagination-wrapper ul li.disabled-page a{
    color: #e5e5e5;
    pointer-events: none;
}
.pagination-wrapper ul li.active-catalog-page a{
    background-color: #dd0101;
    border-color: #dd0101;
    color: #fff;
}
.show-products-info{
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    margin-bottom: 20px;
    margin-right: 20px;
}
/*-----------VIDEO CONTENT--------*/
.video-content-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}
.video-content-wrapper video{
    display: block;
    width: 100%;
}
.video-content-poster{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.video-trigger{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
}
.video-trigger.hide{
    opacity: 0;
    pointer-events: none;
}
.video-trigger svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--------------CERTIFICATES--------------*/
.certificates-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 129px;
}
.single-ceritficate-wrapper{
    width: calc(25% - 30px);
    margin-right: 30px;
}
.single-certificate{
    width: 100%;
    height: 0;
    padding-bottom: 143%;
    position: relative;
    display: block;
}
.single-certificate img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*------------NEWS PAGE CONTENT----------*/
.news-page-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 40px;
}
.news-page-content-wrapper .single-news-wrapper{
    width: calc(33.3333% - 30px);
    margin-right: 30px;
    margin-bottom: 20px;
}
/*-----------------PRICE LIST PAGE-----------------*/
.price-list-page-content .info-text{
    margin: 0;
}
.price-list-page-content .info-text p{
    color: #6c757d;
}
.price-list-download-btn-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.price-list-download-btn-wrapper a{
    margin-right: 30px;
    margin-bottom: 30px;
}
/*-----------------CONTACT PAGE CONTENT-----------------*/
.contacts-page-content{
    margin-bottom: 60px;
}
.contacts-page-list-wrapper ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts-page-list-wrapper ul li{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 43px;
}
.contacts-page-list-wrapper ul li svg{
    position: absolute;
    top: 4px;
    left: 0;
}
.contacts-page-list-wrapper ul li:not(:last-child){
    width: calc(33.3333% - 40px);
}
.contacts-page-list-wrapper ul li p,
.contacts-page-list-wrapper ul li a{
    color: #212429;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.437em;
}
.contacts-page-list-wrapper ul li span{
    font-weight: 600;
    color: #212429;
    font-size: 16px;
    line-height: 1.437em;
    display: inline-block;
}
.props-wrapper ul li p{
    color: #212429;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75em;
}
/*---------------SEARCH PAGE-------------------*/

.search-page-form-wrapper{
    max-width: 880px;
    width: 100%;
    margin: 0px auto 60px;
}
.search-page-form-wrapper .search-form{
    max-width: 100%;
    height: 50px;
}
.search-page-form-wrapper .search-form input{
    font-size: 16px;
    padding: 10px 84px 10px 20px;
}
.search-page-form-wrapper .search-form button[type="submit"]{
    width: 64px;
}
.no-result-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-result-wrapper p{
    color: #6c757d;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.31em;
    text-align: center;
    margin-bottom: 60px;
}
/*--------------PRODUCT PAGE CONTENT--------------*/

.product-card-content-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;
}
.product-card-content{
    max-width: 491px;
    width: 100%;
}
.product-image-slider-wrapper{
    position: relative;
}
.product-image-slider{
    padding: 65px 116px 64px;
}
.product-image-single-slide-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 159%;
}
.product-image-slider-wrapper .product-slider-arrows{
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
}
.product-image-single-slide-wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-card-main-info{
    width: calc(100% - 520px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.product-card-main-info > *{
    margin-bottom: 39px;
}
.product-card-main-info .product-title{
    color: #6c757d;
    font-size: 30px;
    line-height: 1.35em;
    font-weight: 700;
    text-align: left;
    width: 100%;
}
.product-card-price{
    width: calc(50% - 10px);
    color: #212429;
    font-size: 30px;
    line-height: 1.4em;
    font-weight: 700;
}
.product-card-price span{}
.add-to-comparison-product{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428em;
    padding: 1px 9px 2px 10px;
    border-radius: 2px;
    background-color: #6c757d;
}
.product-delivery{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 19px 30px 23px;
    color: #6c757d;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
    text-transform: uppercase;
}
.product-delivery svg{
    display: block;
    margin-right: 34px;
}
.input-model-type-wrapper{
    margin-bottom: 40px;
}
.input-model-type-wrapper input{
    display: block;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    padding: 14px 20px 13px;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.product-card-check-model-wrapper{
    margin-bottom: 64px;
}
.product-card-check-model-item{
    background-color: #f9f9f9;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
.product-card-check-model-item > *{
    max-width: calc(25% - 20px);
}
.product-model-title{
    color: #212429;
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 700;
}
.product-model-counter{
    display: flex;
    align-items: center;
}
.counter-action-btn{
    width: 30px;
    height: 30px;
    background: #dd0101;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.counter-action-btn.disable-counter-btn{
    background-color: #6c757d;
}
.product-model-counter input{
    height: 30px;
    width: 40px;
    margin: 0px 10px;
    border: 1px solid #e5e5e5;
    padding: 4px 5px 3px;
    text-align: center;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.product-card-model-total-price{
    color: #212429;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.437em;
}
.product-card-tabs-content-wrapper{
    margin-bottom: 60px;
}
.tabs-switcher-wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.tabs-switcher-item{
    color: #6c757d;
    font-size: 24px;
    line-height: 1.416em;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 12px;
    margin-right: 70px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
.tabs-switcher-item:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #dd0101;
    transition: inherit;
}
.tabs-switcher-item.active{
    color: #dd0101;
}
.tabs-switcher-item.active:before{
    width: 100%;
}
.single-product-tab{
    font-size: 16px;
    line-height: 1.75em;
    color: #6c757d;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: 0.3s ease;
}
.single-product-tab.active{
    height: auto;
    opacity: 1;
}
.single-product-tab p{
    line-height: inherit;
    margin-bottom: 30px;
}
p.single-product-tab-title{
    color: #212429;
    font-size: 20px;
    font-weight: 600;
    line-height: inherit;
    margin-bottom: 30px;
}
.single-product-tab li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
.single-product-tab li:before{
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #dd0101;
    border-radius: 50%;
}
/*------------------RESPONSIVE-------------*/
@media(max-width: 1600px){
    .sidebar{
        max-width: 320px;
    }
    .sidebar-submenu-list-wrapper{
        width: 850px;
    }
    .content-wrapper {
        width: calc(100% - 340px);
    }
    .catalog-page-single-category-list .single-product-wrapper{
        width: calc(33.3333% - 20px);
    }
    .certificates-list-wrapper{
        margin-bottom: 80px;
    }
    .product-card-content {
        max-width: 380px;
    }
    .product-image-slider {
        padding: 65px 80px 64px;
    }
    .product-card-main-info {
        width: calc(100% - 400px);
    }
    .product-card-main-info .product-title{
        font-size: 24px;
    }
    .product-card-price{
        font-size: 22px;
    }
    .tabs-switcher-item {
        font-size: 22px;
        margin-right: 50px;
    }
}
@media(max-width: 1200px){
    .sidebar {
        max-width: 270px;
    }
    .sidebar-menu-item > a{
        padding: 14px 26px;
    }
    .content-wrapper {
        width: calc(100% - 290px);
    }
    .home-top-slide-title:before{
        right: 24%;
        transform: skew(-10deg);
    }
    .sidebar-submenu-list-wrapper {
        width: 670px;
    }
    .home-top-slide-content{
        min-height: 410px;
    }
    .home-top-slide-title{
        font-size: 26px;
    }
    .home-top-slide-title span{
        font-size: 58px;
    }
    .sidebar-form-title{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .certificates-list-wrapper{
        margin-bottom: 40px;
    }
    .certificates-list-wrapper{
        margin-bottom: 0px;
        margin-right: -10px;
    }
    .single-ceritficate-wrapper{
        width: calc(25% - 10px);
        margin-right: 10px;
    }
    .news-page-content-wrapper{
        margin-right: -15px;
    }
    .news-page-content-wrapper .single-news-wrapper{
        width: calc(33.3333% - 15px);
        margin-right: 15px;
    }
    .contacts-page-list-wrapper ul li:not(:last-child){
        width: calc(50% - 20px);
    }
    .product-card-content {
        max-width: 300px;
    }
    .product-card-main-info {
        width: calc(100% - 320px);
    }
    .product-image-slider {
        padding: 65px 40px 64px;
    }
    .product-card-price{
        width: 100%;
    }
    .product-card-main-info > *{
        margin-bottom: 20px;
    }
    .product-delivery {
        padding: 15px 20px 19px;
    }
    .tabs-switcher-wrapper {
        margin-bottom: 20px;
    }
    .tabs-switcher-item {
        font-size: 20px;
        margin-right: 30px;
    }
}
@media(max-width: 1024px){
    .sidebar {
        max-width: 240px;
    }
    .sidebar-menu-item > a {
        padding: 14px 26px 14px 16px;
    }
    .sidebar-menu-item a{
        font-size: 14px;
    }
    .sidebar-menu-item > a .menu-item-arrow.active:before{
        transform: translate(0,-50%) rotate(225deg);
    }
    .sidebar-menu-item-has-sub-menu:hover .sidebar-submenu-list-wrapper{
        left: calc(100% + 100px);
        pointer-events: none;
        opacity: 0;
    }
    .sidebar-menu-item-has-sub-menu .sidebar-submenu-list-wrapper.active{
        left: 100%;
        opacity: 1;
        pointer-events: auto;
    }
    .sidebar-menu-item > a:before{
        right: 15px;
    }
    .sidebar-submenu-list-wrapper {
        width: 500px;
    }
    .content-wrapper {
        width: calc(100% - 265px);
    }
    .home-top-slide-content {
        min-height: 390px;
    }
    .home-top-slide-content{
        padding: 30px;
    }
    .home-top-slide-title {
        font-size: 20px;
    }
    .home-top-slide-title span {
        font-size: 46px;
    }
    .home-top-slide-title:before {
        right: 0;
        transform: skew(0deg);
        opacity: 0.2;
    }
    .catalog-page-single-category-list .single-product-wrapper{
        width: calc(50% - 20px);
    }
    .product-card-content {
        max-width: 100%;
    }
    .product-image-slider {
        padding: 65px 120px 64px;
    }
    .product-card-main-info {
        width: 100%;
    }
    .product-card-check-model-item {
        padding: 10px 15px;
    }
    .product-card-check-model-item > * {
        max-width: calc(25% - 5px);
    }
    .product-card-check-model-wrapper{
        margin-bottom: 40px;
    }
}
@media(max-width: 767px){
    .sidebar-content-wrapper{
        flex-wrap: wrap;
    }
    .sidebar{
        max-width: 100%;
    }
    .sidebar-mobile-switcher{
        display: flex;
        align-items: center;
    }
    .sidebar-mobile-switcher .decor-span{
        margin-left: 15px;
    }
    .sidebar > div:not(.sidebar-mobile-switcher){
        display: none;
        margin-bottom: 15px;
    }
    .sidebar > div.active{
        display: block;
    }
    .sidebar-submenu-list-wrapper{
        width: 100% !important;
        position: static;
        opacity: 1;
        pointer-events: auto;
        overflow: hidden;
        height: 0;
        padding: 0;
    }
    .sidebar-submenu-list-wrapper.active{
        height: auto;
        padding: 22px 30px;
    }
    .content-wrapper{
        width: 100%;
    }
    .home-top-slide-content{
        padding: 30px 30px 50px;
        min-height: 60vw;
    }
    .pagination-wrapper ul li:not(:first-child){
        margin-left: 10px;
    }
    .pagination-wrapper ul a {
        font-size: 14px;
        padding: 7px 4px 6px;
        min-width: 35px;
    }
    .price-list-download-btn-wrapper{
        margin-bottom: 15px;
    }
    .price-list-download-btn-wrapper a{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .search-page-form-wrapper{
        margin: 0px auto 40px;
    }
    .search-page-form-wrapper .search-form input{
        padding: 10px 44px 10px 20px;
    }
    .search-page-form-wrapper .search-form button[type="submit"]{
        width: 44px;
    }
    .no-result-wrapper p{
        margin-bottom: 40px;
        font-size: 24px;
    }
    .product-image-slider-wrapper{
        max-width: 450px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .product-image-slider {
        padding: 30px 120px 30px;
    }
    .product-card-main-info .product-title {
        font-size: 20px;
    }
    .product-card-content-wrapper{
        margin-bottom: 10px;
    }
    .tabs-switcher-item{
        font-size: 18px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}
@media(max-width: 579px){
    .contacts-page-list-wrapper ul li{
        margin-bottom: 20px;
    }
    .no-result-wrapper p{
        margin-bottom: 30px;
    }
    .product-image-single-slide-wrapper{
        padding-bottom: 130%;
    }
    .product-card-check-model-item{
        flex-wrap: wrap;
    }
    .product-card-check-model-item > *{
        max-width: calc(33.3333%  - 5px);
    }
    .product-model-title{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

}
@media(max-width: 476px){
    .sidebar-submenu-list-wrapper.active{
        padding: 14px 16px;
    }
    .single-sidebar-submenu-list {
        width: 100%;
        margin-bottom: 20px;
    }
    .home-top-slide-title {
        font-size: 16px;
    }
    .home-top-slide-title span{
        font-size: 34px;
    }
    .single-ceritficate-wrapper{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .news-page-content-wrapper{
        margin-right: 0;
        justify-content: space-between;
    }
    .news-page-content-wrapper .single-news-wrapper{
        width: calc(50% - 5px);
        margin-right: 0px;
    }
    .contacts-page-list-wrapper ul li:not(:last-child){
        width: 100%;
    }
    .search-page-form-wrapper{
        margin: 0px auto 30px;
    }
    .product-image-slider {
        padding: 30px 60px 30px;
    }
    .product-card-main-info .product-title {
        font-size: 18px;
    }
    .product-card-check-model-item > *{
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
    .product-model-counter,
    .product-card-model-total-price{
        max-width: calc(50% - 5px);
    }
}
@media(max-width: 400px){
    .catalog-page-single-category-list .single-product-wrapper{
        width: 100%;
    }
}
