.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.36);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 10;
}
.overlay.active{
    opacity: 1;
    pointer-events: auto;
}
.popup-wrapper{
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 15;
    transition: 0.3s ease;
    max-height: 100vh;
    overflow: auto;
}
.popup-wrapper.active{
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup-wrapper.callback-popup{
    max-width: 1010px;
    width: 100%;
}
.popup-wrapper.order-product-popup{
    max-width: 1270px;
    width: 100%;
}
.popup-wrapper.add-product-popup{
    max-width: 750px;
    width: 100%;
}
.popup-content{
    box-shadow: 0 0 18px rgba(221, 1, 1, 0.33);
    position: relative;
}
.close-popup-wrapper{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}
.close-popup-wrapper span{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.388em;
}
.popup-content-wrapper{
    padding: 67px 100px 61px;
    background: #fff;
}
.callback-popup .popup-content-wrapper,
.order-product-popup .popup-content-wrapper{
    background: #dd0101;
}
.popup-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-form-wrapper{
    max-width: 526px;
    width: 100%;
}
.popup-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.388em;
    text-align: center;
}
.popup-form-title{
    margin-bottom: 40px;
}
.popup-from ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 424px;
    width: 100%;
    margin: 0 auto;
}
.popup-from ul li{
    width: 100%;
}
.popup-from ul li:not(:last-child){
    margin-bottom: 40px;
}
.popup-from ul li span{
    font-size: 14px;
    line-height: 1.428em;
    display: block;
    margin-bottom: 9px;
}
.popup-from ul li input,
.popup-from ul li textarea{
    border: 1px solid #fff;
    color: #e5e5e5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.437em;
    padding: 14px 20px 13px;
    width: 100%;
    background: transparent;
    border-radius: 0;
}
.popup-from ul li input::placeholder,
.popup-from ul li textarea::placeholder{
    color: #e5e5e5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.popup-from ul li textarea{
    height: 121px;
    resize: none;
}
.popup-from ul li input[type="submit"]{
    background: #fff;
    border: none;
    padding: 14px 20px 13px;
    max-width: 296px;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #212429;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.437em;
}
.popup-form-image{
    max-width: 471px;
    max-height: 506px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.callback-popup .popup-form-image{
    max-width: 186px;
    width: 100%;
}
.order-product-popup .popup-form-image{
    max-width: 471px;
    width: 100%;
}
.popup-form-image img{
    display: block;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}
/*-----------ADD TO CART POPUP-----------*/
.add-product-popup .popup-content-wrapper{
    padding: 40px 71px 60px;
}
.add-product-popup .close-popup-wrapper span{
    color: #212429;
}
.popup-add-cart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-cart-img-wrapper{
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
}
.add-cart-img-wrapper svg{
    display: block;
    width: 100%;
    height: 100%;
}
.add-cart-popup-title{
    color: #212429;
    margin-bottom: 59px;
}
.popup-added-product-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.popup-added-product-img{
    max-width: 114px;
    width: 100%;
    max-height: 132px;
}
.popup-added-product-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.popup-added-product-info{
    width: calc(100% - 154px);
}
.popup-added-product-link{
    color: #212429;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
    display: block;
    margin-bottom: 12px;
}
.popup-added-product-model{
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.428em;
    margin-bottom: 47px;
}
.popup-added-product-model span{
    text-transform: uppercase;
}
.popup-added-product-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.popup-added-product-price > *{
    margin-bottom: 16px;
}
.popup-added-product-count{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.popup-added-product-count span{
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.428em;
    display: inline-block;
    margin-right: 19px;
}
.popup-added-product-count input[type="number"]{
    display: inline-block;
    width: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 4px 4px 3px;
    text-align: center;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.popup-added-product-total-price{
    color: #212429;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.437em;
}
.popup-added-product-total-price span{
    display: inline-block;
}
.popup-added-product-action-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
}
.popup-added-product-action-buttons a{
    margin-top: 20px;
    max-width: 230px;
    width: 100%;
}
/*-----------ADD TO CART POPUP-----------*/


@media(max-width: 1600px){
    .popup-content-wrapper {
        padding: 50px 80px 50px;
    }
    .popup-from ul li:not(:last-child),
    .popup-title {
        margin-bottom: 30px;
    }
}
@media(max-width: 1200px) {
    .popup-title,
    .close-popup-wrapper span{
        font-size: 30px;
    }
    .order-product-popup .popup-form-image {
        max-width: 360px;
    }
    .popup-from ul li input,
    .popup-from ul li textarea{
        padding: 10px 14px 9px;
        font-size: 14px;
    }
    .popup-from ul li input::placeholder,
    .popup-from ul li textarea::placeholder{
        font-size: 14px;
    }
}
@media(max-width: 1024px){
    .popup-content{
        justify-content: center;
    }
    .popup-form-image{
        display: none;
    }
}
@media(max-width: 767px){
    .popup-content-wrapper{
        padding: 40px;
    }
    .close-popup-wrapper{
        top: 20px;
        right: 20px;
    }
    .popup-title, .close-popup-wrapper span{
        font-size: 24px;
    }
    .popup-from ul li:not(:last-child),
    .popup-title{
        margin-bottom: 20px;
    }
    .popup-added-product-model,
    .add-cart-img-wrapper{
        margin-bottom: 20px;
    }
    .popup-added-product-wrapper{
        margin-bottom: 0;
    }
    .popup-added-product-action-buttons a {
        max-width: calc(50% - 5px);
    }
    .add-product-popup .popup-content-wrapper{

    }
}
@media(max-width: 579px){
    .popup-content-wrapper{
        padding: 40px 20px;
    }
    .add-product-popup .popup-content-wrapper{
        padding: 40px 20px;
    }
}
@media(max-width: 476px){
    .popup-added-product-wrapper,
    .popup-added-product-price{
        justify-content: center;
    }
    .popup-added-product-info{
        width: 100%;
    }
    .popup-added-product-img{
        margin-bottom: 20px;
    }
    .popup-added-product-link,
    .popup-added-product-model{
        text-align: center;
    }
    .popup-added-product-action-buttons a{
        max-width: 100%;
    }
}
