.products-category-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-category-wrapper{
    width: calc(50% - 15px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    background-color: #f9f9f9;
    padding: 40px 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.category-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.428em;
    color: #212429;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.category-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 170px;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}
.single-category-list{
    margin-bottom: 20px;
    width: 100%;
}
.single-category-list li{
    display: block;
}
.single-category-list li:not(:last-child){
    margin-bottom: 9px;
}
.single-category-list li a{
    position: relative;
    padding-left: 27px;
    width: 200px;
    line-height: 1.437em;
    color: #212429;
    font-size: 16px;
    display: block;
    width: 100%;
}
.single-category-list li a:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6c757d;
    transition: 0.3s ease;
}
.single-category-list li a:hover{
    color: #dd0101;
}
.single-category-list li a:hover:before{
    background-color: #dd0101;
}
@media(max-width: 1024px){
    .single-category-wrapper{
        padding: 30px 20px 20px;
    }
}
@media(max-width: 767px){
    .single-category-wrapper{
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }
}
@media(max-width: 476px){
    .single-category-wrapper{
        width: 100%;
    }
}
