.products-slider-container{
    position: relative;
    margin-bottom: 10px;
}
.products-slider-wrapper{
    margin: 0px -15px;
}
.single-product-slide-container{
    padding: 0 15px;
}
.product-slider-arrows{
    display: flex;
    align-items: center;
    width: 36px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: -60px;
}
.product-slider-arrow{
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}
.product-slider-arrow svg{
    stroke: #dd0101;
}
.product-slider-arrow.slick-disabled svg{
    stroke: #6c757d;
}
.single-product-wrapper{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 10px 25px 30px;
    position: relative;
}
.product-status-stikers{
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.product-status-stikers span{
    font-size: 14px;
    line-height: 1.428em;
    padding: 1px 10px 2px;
    border: 1px solid #000;
    border-radius: 2px;
    background: #fff;
}
.product-status-stikers span:not(:last-child){
    margin-bottom: 5px;
}
.product-status-stikers .new-stiker{
    border-color: #dd0101;
    color: #dd0101;
}
.product-status-stikers .in_stock-stiker{
    color: #35a724;
    border-color: #35a724;
}
.single-product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image-wrapper{
    max-width: 190px;
    width: 100%;
    margin-bottom: 7px;
}
.product-image-link{
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 116%;
    position: relative;
}
.product-image-link img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-title{
    text-align: center;
    color: #212429;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25em;
    display: inline-block;
    margin-bottom: 20px;
}
.product-price{
    text-align: center;
    color: #212429;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44em;
}
.product-bottom-actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-bottom-actions a{
    margin-top: 18px;
}
.add-to-comparison{
    background-color: #6c757d;
    width: 40px;
    height: 40px;
    position: relative;
}
.add-to-comparison svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width: 1200px){
    .single-product-slide-container{
        padding: 0px 5px;
    }
    .products-slider-wrapper{
        margin: 0px -5px;
    }
}
@media(max-width: 767px){
    .single-product-wrapper{
        padding: 10px 20px 20px;
    }
    .product-image-link{
        padding-bottom: 100%;
    }
}
@media(max-width: 476px){
    .products-slider-wrapper{
        margin: 0px;
    }
    .product-slider-arrows{
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
    }
    .single-product-slide-container {
        padding: 0px 25px;
    }
}
