.user-section{
    margin-bottom: 40px;
}
.user-content-with-sidebar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-content{
    width: calc(100% - 320px);
    padding-right: 70px;
}
.user-content-without-sidebar .user-content{
    width: 100%;
    padding-right: 0;
}
.order-history-title{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 14px;
}
.order-history-title p{
    color: #6c757d;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
    white-space: nowrap;
}
.order-product-image-title{
    width: 10.3%;
    text-align: center;
}
.order-product-info-title{
    width: 50.5%;
    padding-left: 3.6%;
}
.order-product-count-title{
    width: 9%;
    padding-left: 5.45%;
}
.order-product-total-price-title{
    width: 16.45%;
    padding-left: 5.45%;
}
.order-product-status-title{
    width: 11.7%;
    padding-left: 5.45%;
}
.order-history-item{
    border: 1px solid #eeeeee;
    padding: 14px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.order-product-image{
    width: 10.3%;
    max-height: 132px;
}
.order-product-image img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.order-product-info{
    width: 50.5%;
    padding-left: 3.6%;
}
.order-product-info a{
    color: #212429;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.437em;
    display: inline-block;
    margin-bottom: 12px;
}
.order-product-info p{
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.428em;
}
.order-product-info p span{
    text-transform: uppercase;
}
.order-product-count-wrapper{
    width: 9%;
    padding-left: 5.45%;
}
.order-product-count{
    border: 1px solid #e5e5e5;
    min-width: 40px;
    padding: 4px 5px 3px;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    text-align: center;
    display: inline-block;
}
.order-product-total-price{
    color: #212429;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.437em;
    width: 16.45%;
    padding-left: 5.45%;
}
.order-product-total-price span{
    display: inline-block;
}
.order-product-status{
    width: 11.7%;
    padding-left: 5.45%;
    display: flex;
    justify-content: center;
}
/*----------------USER SIDEBAR----------------*/

.user-sidebar{
    max-width: 320px;
    width: 100%;
}
.user-sidebar > *{
    width: 100%;
    margin-bottom: 20px;
}
.user-sidebar-block{
    padding: 40px 30px;
}
.red-sidebar-block{
    background-color: #dd0101;
}
.dark-sidebar-block{
    background-color: #e1e1e1;
}
.user-sidebar-block-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.416em;
    margin-bottom: 29px;
}
.user-sidebar-block-list li:not(:last-child){
    margin-bottom: 23px;
}
.user-sidebar-block-list:not(:last-child){
    margin-bottom: 26px;
}
.user-sidebar-block-list li a{
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 700;
    color: #fff;
}
.dark-sidebar-block .user-sidebar-block-list li a,
.dark-sidebar-block .user-sidebar-block-title{
    color: #6c757d;
}
/*--------------USER PAGE FORM--------------*/

.user-edit-info-wrapper{
    margin-bottom: 40px;
}
.user-section .bottom-form input,.user-section .bottom-form textarea,.user-section .bottom-form select{
    background-color: #f6f6f6;
}
.user-section .bottom-form li span{
    color: #6c757d;
}
.user-section .bottom-form input[type="submit"]{
    background-color: #6c757d;
    max-width: 230px;
    width: 100%;
}
.user-section .bottom-submit-wrapper{
    justify-content: flex-end;
}

/*-----------------USER REGISTRATION FORM---------------*/

.user-registration-form{
    max-width: 1010px;
    margin: 0 auto 60px;
}
.user-registration-form .bottom-form li .form-error-text{
    color: #dd0101;
}
.user-terms{
    font-size: 16px;
    line-height: 1.343em;
    color: #6c757d;
    padding-top: 33px;
    max-width: 269px;
    width: 100%;
}
.user-terms a{
    color: #dd0101;
}
.user-registration-form .bottom-submit-wrapper,
.user-login-form .bottom-submit-wrapper{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.user-registration-form .bottom-submit-wrapper >a {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    display: inline-block;
    margin-top: 20px;
}
/*--------------USER LOGIN FORM--------------*/

.user-login-form{
    max-width: 489px;
    width: 100%;
    margin: 0 auto 60px;
}
.user-login-form .bottom-submit-wrapper >a {
    color: #dd0101;
    font-size: 16px;
    line-height: 1.437em;
    display: inline-block;
    margin-top: 20px;
}
form li.checkbox-wrapper{
    position: relative;
    padding-left: 36px;
}
form li.checkbox-wrapper input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
form li.checkbox-wrapper .decor-checkbox{
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #6c757d;
    transition: 0.3s ease;
}
form li.checkbox-wrapper .decor-checkbox:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    transform: translate(-50%, -50%);
    background-color: #099b04;
    opacity: 0;
    transition: inherit;
}
form li.checkbox-wrapper input[type="checkbox"]:checked + .decor-checkbox:before{
    opacity: 1;
}
.forget-password a{
    color: #2a7fc9;
    font-size: 14px;
    line-height: 1.428em;
    display: block;
    text-align: right;
}
.checkbox-wrapper,
.forget-password{
    margin-top: -24px;
}
/*-----------------USER CART-----------------*/
.cart-content .order-product-image img{
    max-height: 132px;
}
.cart-content .order-product-info{
    padding-left: 1.5%;
}
.cart-content .order-product-count-title{
    padding-left: 2%;
}
.cart-content .order-product-total-price-title {
    padding-left: 7.25%;
}
.cart-content .order-product-status{
    padding-left: 0;
}
.cart-content .order-product-count-wrapper{
    display: flex;
    align-items: center;
}
.cart-content  .order-product-count-wrapper{
    padding-left: 0;
}
.cart-content .order-product-count-wrapper input{
    height: 30px;
    width: 40px;
    margin: 0px 10px;
    border: 1px solid #e5e5e5;
    padding: 4px 5px 3px;
    text-align: center;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
}
.card-all-products-total-price{
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
p.empty-cart-title {
    color: #6c757d;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 170px;
}
.card-all-products-total-price .btn{
    margin-top: 40px;
}
.card-all-products-total-price p{
    color: #212429;
    font-size: 18px;
    line-height: 1.33em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.card-all-products-total-price.empty-cart-page p{
    color: #e5e5e5;
}
.card-all-products-total-price p.red{
    color: #dd0101;
}
.order-single-step{
    margin-bottom: 60px;
}
.order-step-title-wrapper{
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 60px;
}
.order-step-title-wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 1600px;
    width: 100vw;
    background-color: #f5f5f5;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}
.order-step-title-content{
    max-width: 1010px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 19px 0px 18px;
    position: relative;
}
.order-step-title-content p{
    color: #212429;
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 700;
}
.order-step-title-content p span{
    color: #6c757d;
}
.order-step-title-content span{
    color: #dd0101;
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 600;
}
.order-single-step-content{
    max-width: 1010px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.order-single-step-content .checkboxes-list li span{
    max-width: 584px;
    width: 100%;
    display: block;
}
.order-single-step-content .checkboxes-list:not(:last-of-type){
    margin-bottom: 40px;
}
.checkboxes-list-title{
    padding-left: 36px;
    color: #6c757d;
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 700;
    margin-bottom: 20px;
}
.checkboxes-list li p{
    color: #212429;
    font-size: 16px;
    line-height: 1.437em;
    font-weight: 700;
    margin-bottom: 4px;
}
.order-single-step-content .checkboxes-list li .decor-checkbox:before{
    background-color: #6c757d;
}
.order-single-step-content .checkboxes-list li input[type="checkbox"]:checked + .decor-checkbox,
.order-single-step-content .checkboxes-list li input[type="radio"]:checked + .decor-checkbox{
    border: 1px solid #6c757d;
}
.order-single-step-content .checkboxes-list li.disable-checkbox-item{
    pointer-events: none;
}
.order-single-step-content .checkboxes-list li.disable-checkbox-item .decor-checkbox{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.order-single-step-content .checkboxes-list li.list-item-with-image .decor-checkbox{
    top: 50%;
    transform: translate(0, -50%);
}
.order-single-step-content .checkboxes-list li.list-item-with-image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.order-single-step-content .checkboxes-list .list-img-wrapper{
    max-width: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 25px;
}
.order-single-step-content .checkboxes-list .list-img-wrapper img{
    display: block;
    max-width: 100%;
    width: auto;
}
.user-section .bottom-form.order-comment-form input[type="submit"]{
    background-color: #dd0101;
}
/*--------------RESPONSIVE--------------*/
@media(max-width: 1600px){
    .user-content {
        width: calc(100% - 300px);
        padding-right: 30px;
    }
    .user-sidebar{
        max-width: 300px;
    }
    .user-sidebar-block {
        padding: 30px 25px;
    }
    .cart-content .order-product-count-wrapper{
        width: 11%;
    }
    .cart-content .order-product-count-title{
        padding-left: 0;
    }
    .cart-content .order-product-count-wrapper{
        width: 14%;
    }
    .cart-content .order-product-info{
        width: 47.5%;
    }
}
@media(max-width: 1200px){
    .user-content {
        width: calc(100% - 260px);
        padding-right: 30px;
    }
    .order-product-image-title{
        text-align: left;
    }
    .order-history-title p{
        white-space: normal;
    }
    .order-product-info,
    .order-product-info-title{
        padding-left: 20px;
    }
    .order-product-count-wrapper,
    .order-product-count-title{
        padding-left: 30px;
    }
    .order-product-total-price,
    .order-product-total-price-title{
        padding-left: 30px;
    }
    .order-product-status,
    .order-product-status-title{
        padding-left: 30px;
    }
    .user-sidebar {
        max-width: 260px;
    }
    .user-sidebar-block {
        padding: 30px 20px;
    }
    .user-sidebar-block-list li:not(:last-child) {
        margin-bottom: 15px;
    }
    .checkbox-wrapper, .forget-password {
        margin-top: 0;
    }
    p.empty-cart-title {
        margin-bottom: 100px;
    }
}
@media(max-width: 1024px) {
    .user-content {
        width: 100%;
        padding-right: 0px;
    }
    .user-sidebar {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .user-sidebar > *{
        width: calc(50% - 10px);
    }
    .cart-content .order-product-info{
        width: 40%;
    }
    .cart-content .order-product-count-wrapper {
        width: 20%;
        padding-left: 1%;
    }
    .cart-content .order-product-info-title{
        width: 40%;
    }
    .cart-content .order-product-count-title {
        padding-left: 1%;
        width: 20%;
    }
    p.empty-cart-title {
        margin-bottom: 80px;
    }
}
@media(max-width: 767px){
    .order-history-title{
        display: none;
    }
    .order-product-image{
        width: 20%;
    }
    .order-product-info{
        width: 80%;
    }
    .order-product-count-wrapper,
    .order-product-total-price,
    .order-product-status{
        width: auto;
    }
    .user-sidebar-block-title{
        margin-bottom: 20px;
    }
    .user-terms{
        font-size: 14px;
        padding-top: 28px;
    }
    .cart-content .order-product-image{
        width: 30%;
    }
    .cart-content .order-product-info{
        width: 70%;
    }
    .cart-content .order-product-count-wrapper{
        justify-content: center;
        width: 30%;
        padding-left: 0;
    }
    .cart-content .order-product-total-price{
        width: 70%;
        padding-left: 2%;
        text-align: left;
        display: block;
    }
    .order-single-step-content .checkboxes-list .list-img-wrapper{
        margin-bottom: 15px;
    }
    .order-single-step-content .checkboxes-list li p{
        width: 100%;
    }
    .card-all-products-total-price .btn{
        margin-top: 20px;
    }
    p.empty-cart-title {
        margin-bottom: 60px;
        font-size: 26px;
    }
}
@media(max-width: 476px){
    .order-history-item{
        justify-content: center;
    }
    .order-history-item > *:not(:last-child){
        margin-bottom: 20px;
    }
    .order-product-info{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .order-product-status{
        width: 100%;
        padding-left: 0;
    }
    .user-sidebar > * {
        width: 100%;
    }
    .user-terms{
        padding-top: 0;
    }
    .user-login-form .bottom-form .input-50p{
        width: calc(50% - 5px);
    }
    .cart-content .order-product-info {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .cart-content .order-product-count-wrapper{
        width: 50%;
    }
    .cart-content .order-product-total-price{
        width: 50%;
    }
    .order-product-total-price.order-product-status{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    p.empty-cart-title {
        margin-bottom: 40px;
    }
}
